body{
    background: url("./background.jpg")no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
#board{
    width: 450px;
    height: 450px;
    background-color: lightblue;
    border: 5px solid slategrey;
    border-radius: 10px;
    margin: 0 auto;/*board center alignment*/
    display: flex;
    flex-wrap: wrap;
}
#board img{
    width: 50px;/* 450px divide by 9 row */
    height: 50px;

}
